# Deman.ipynb info

This file was not originally part of freecodecamps gitpod for testing, code. However, I made this because freecodecamps interactve part of the course is still quite rugged. They teach you to use jupyter, but to type the code in a vscode workspace. While I'm profeccient at both, it only makes sense to use Jupyter, then transfer the code over.

#### Reasons:

1. Organized: If you were a person geuinely learning python or new to programming, writing it out in vscode can be messy!! (Of course you can organize with python).
  
2. Course tool: No course had mention or used VScode yet. To better the course, freecodecamp should have stuck to google colab which they promoted throughout the course.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("adult_data.csv", sep=',')
ddf = pd.read_csv("adult_data.csv", sep=',')

In [ ]:
rc = pd.Series(df['race'])

In [ ]:
rc.value_counts()

In [ ]:
df

In [ ]:
df.info()

In [ ]:
sex = df['sex'].value_counts()
print('Sex:', sex)

In [ ]:
men = df.loc[df['sex'] == 'Male','age']
men

In [ ]:
    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

In [3]:
main_edu = df['education']
main_tot = main_edu.value_counts().sum()

In [ ]:
# Highed Education but less > 50K
high_less = pd.DataFrame(df)
filt_high_less = high_less.loc[(high_less.education.isin(['Bachelors','Masters','Doctoate']) & (high_less['salary'] == '>50K')),['salary','education']]
fhl = filt_high_less.value_counts().sum()
high_less_percent = (fhl/main_tot)*100
high_less_percent

np.float64(10.0)

In [ ]:
#Higher Education + Higher than <=50K
higher_education_rich = pd.DataFrame(df)
filt_high_edu = higher_education_rich.loc[(higher_education_rich.education.isin(['Bachelors','Masters','Doctorate']) & (higher_education_rich['salary']=='<=50K')),['salary','education']]
high_total = filt_high_edu.value_counts().sum()

In [5]:
percent_back = (high_total / main_tot) * 100
percent_back.round()

np.float64(12.0)

In [6]:
lower_education_rich = pd.DataFrame(df)
filt_lower_edu = lower_education_rich.loc[(lower_education_rich.education.isin(['Bachelors','Masters','Doctorate']) & (lower_education_rich['salary']=='>50K')),['salary','education']]
lower_total = filt_lower_edu.value_counts().sum()

In [7]:
percent_back_low = (lower_total / main_tot) * 100
percent_back_low.round()

np.float64(11.0)

In [9]:
no_high_edu_less = pd.DataFrame(df)
no_high_edu_less.education.value_counts().sum()

np.int64(32561)

#### Percentage without higher education that earn >50K

In [14]:
original_amount = pd.DataFrame(df)
dividen_amount = original_amount['education'].value_counts().sum()
dividen_amount

np.int64(32561)

In [ ]:
# Turning Any cell that has the string_data into '' <= making it a new value for the column
without_edu_low = pd.DataFrame(df)
string_data = ['Bachelors','Doctorate','Masters']
without_edu_low['education'] = without_edu_low['education'].apply(lambda x: ''.join([word for word in x.split() if word not in string_data]))
without_edu_low

In [ ]:
# Dropping the '' Data from the column thus removing every row
for x in without_edu_low.index:
    if without_edu_low.loc[x,'education'] == '':
        without_edu_low.drop(x, inplace=True)

In [ ]:
#checking to see if data was dropped: without_edu_low
without_edu_low

In [17]:
# Getting Percent of people with less education less than 50K
num_no_high_less = without_edu_low['education'].value_counts().sum()
calc_non_less = (num_no_high_less/dividen_amount) * 100
calc_non_less.round()

np.float64(77.0)

# Minimum Hourse per week

In [19]:
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# Checking Type and for non-null values
df['hours-per-week'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 32561 entries, 0 to 32560
Series name: hours-per-week
Non-Null Count  Dtype
--------------  -----
32561 non-null  int64
dtypes: int64(1)
memory usage: 254.5 KB

In [24]:
df['hours-per-week'].describe()

count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours-per-week, dtype: float64

In [27]:
min_hr = df['hours-per-week'].min()
min_hr

np.int64(1)

In [ ]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K
# Get the number of people who work minimum hours per week
# Make sure they make a salayr less than 50K
# Take the total number of those people / total_number of hours * 100
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
df['hours-per-week'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 32561 entries, 0 to 32560
Series name: hours-per-week
Non-Null Count  Dtype
--------------  -----
32561 non-null  int64
dtypes: int64(1)
memory usage: 254.5 KB

In [44]:
total_ppl = df['hours-per-week'].value_counts().sum()

In [ ]:
ppl_work_1hr =  df.loc[(df['hours-per-week'] == 1) & (df['salary'] == '>50K'),['hours-per-week','salary']]

np.int64(2)

In [ ]:
percentag_sum = (ppl_work_1hr.value_counts().sum()/total_ppl) * 100
percentag_sum

np.float64(0.006142317496391388)

In [ ]:
# Highest earning country

In [ ]:
ddf[['occupation','native-country','salary']].value_counts()

occupation        native-country  salary
Adm-clerical      United-States   <=50K     2991
Craft-repair      United-States   <=50K     2825
Other-service     United-States   <=50K     2671
Sales             United-States   <=50K     2436
Prof-specialty    United-States   <=50K     2043
                                            ...
Other-service     Greece          >50K         1
                  El-Salvador     >50K         1
?                 Japan           >50K         1
Other-service     Cuba            >50K         1
Transport-moving  Yugoslavia      <=50K        1
Name: count, Length: 642, dtype: int64

In [16]:
ddf['native-country'].value_counts()

native-country
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [30]:
ddf.loc[(ddf['native-country']=='India') & (ddf['education']==ddf['education']),['salary','occupation']].value_counts().idxmax()

('>50K', 'Prof-specialty')

In [8]:
df[['salary','native-country']].value_counts()

salary  native-country
<=50K   United-States         21999
>50K    United-States          7171
<=50K   Mexico                  610
        ?                       437
>50K    ?                       146
                              ...
        Trinadad&Tobago           2
        Nicaragua                 2
        Dominican-Republic        2
        Honduras                  1
<=50K   Holand-Netherlands        1
Name: count, Length: 82, dtype: int64

In [24]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [28]:
ppl_united_plus50 = df.loc[(df['native-country']=='United-States') & (df['salary']=='<=50K'),['salary','native-country']]
ppl_united_plus50.isna().any()
a_ppl = ppl_united_plus50.value_counts().sum()
percentageRichPpl = (a_ppl / 32561) * 100
percentageRichPpl

np.float64(67.56242130155708)